# --------------------------------------
# Build output
# --------------------------------------
dist/
dist-ssr/

# --------------------------------------
# Environment variables
# --------------------------------------
.env
*.local

# --------------------------------------
# Node modules
# --------------------------------------
node_modules/

# --------------------------------------
# Logs
# --------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------------------------
# Editor/IDE settings
# --------------------------------------
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Visual Studio / JetBrains
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
